{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Edit car</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" required maxlength="100" class="form-control" name="name" value="{{item.name }}">

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description">{{item.description}}</textarea>

					<label for="price">Price:</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="text" maxlength="10" class="form-control" name="price" value="{{item.price}}">
					</div>
					<label for="item_type">Car Type:</label>
					<div class="radio">
					  <label>
					    <input type="radio" required name="item_type" id="item_type1" value="PASSENGER" {% if item.item_type == 'PASSENGER'%}checked{%endif%}>PASSENGER
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" required name="item_type" id="item_type2" value="SUVS" {% if item.item_type == 'SUVS' %}checked{%endif%}>SUVS
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" required name="item_type" id="item_type3" value="COMMERCIAL" {% if item.item_type == 'COMMERCIAL'%}checked{%endif%}>COMMERCIAL
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" required name="item_type" id="item_type4" value="SPORT" {%if item.item_type =='SPORT'%}checked{%endif%}>SPORT
					  </label>
					</div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
					<a href = "{{url_for('carMenuItem', car_id = item.car_id)}}">
						<button class="btn btn-default cancel" type="button">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}